<!--管理者側ユーザーコメント-->
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-12">
      <% if @comments.present? %>
        <h2><%= @user.nick_name %>のコメント一覧</h2>
        <div class="row">
          <div class="col-12">
            <table class="table mt-4">
              <thead>
                <tr>
                  <th>投稿タイトル</th>
                  <th>コメント</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <% @comments.each do |comment| %>
                <tr>
                  <td class="align-middle"><%= comment.post.title %></td>
                  <td class="align-middle"><%= comment.comment %></td>
                  <td class="align-middle"><%= link_to "コメントを削除", admin_user_comment_path(comment, comment), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% else %>
        <h2>コメントはありません</h4>
      <% end %>
    </div>
  </div>
</div>
