<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @user.nick_name %>のコメント一覧</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tbody>
          <% @comments.each do |comment| %>
            <%= comment.comment %>
            <%= link_to comment.post.title, admin_user_path(comment.user) %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
