<!--ユーザー側アバウトページ-->
<div class="container">
  <dev class="row">
    <div class="col-lg-7 col-md-9 mx-auto align-items-center">
      <h1 class="text-center my-5"><strong>ようこそ　本旅館へ</strong></h1>
        <p class="text-center">
          退会すると、会員登録情報や<br>
          これまでの購入履歴が閲覧できなくなります。<br>
          退会する場合は、「退会する」をクリックしてください。
        </p>
    </div>
  </div>
</div>