<!--ユーザー側アバウトページ-->
<div class="container">
  <dev class="row">
    <div class="col-md-12 mx-auto align-items-center">
      <h1 class="text-center my-5"><strong>ようこそ　本旅館へ</strong></h1>
        <p class="text-center line-spacing" style="line-height: 3;">
          本旅館は、読書を愛する人々が集まるコミュニティサイトです。<br>
          ここでは貴方のおすすめの本を紹介したり、他のユーザーとの交流を楽しんだりすることができます。<br>
          さまざまなジャンルに触れることで、新しい世界や考え方に出会い、人生を豊かにするきっかけになるかもしれません。<br>
          読書好きな仲間達と繋がり、本の旅を楽しみましょう。<br>
        </p>
        <div class="text-center mt-5">
          <%= link_to "新規登録はこちらから", new_user_registration_path %>
        </div>
    </div>
  </div>
</div>