<!--ユーザー側アバウトページ-->
<div class="container">
  <dev class="row">
    <div class="col-lg-7 col-md-9 mx-auto align-items-center">
      <h1 class="text-center my-5"><strong>ようこそ　本旅館へ</strong></h1>
        <p class="text-center">
          あなたのおすすめの本、お気に入りの本を共有しましょう<br>
          いろいろな人の<br>
          退会する場合は、「退会する」をクリックしてください。
        </p>
    </div>
  </div>
</div>