@use '~bootstrap/scss/bootstrap';
.userimage{
  width: 200px!important;
  height: 200px!important;
  object-fit: cover;
}

.navbar {
  position: sticky;
  top: 0;
}

html,body {
  height: 100%;
}

.book-section {
  display: flex;
}

.book-post {
  margin-left: 20px;
}

.comment-user {
  display: flex;
}

.comment-form {
  display: flex;
  margin-left: 70px;
}

.about {
  background-position: center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.bg-about {
  background-image: url('/assets/about.jpg');
  background-color: rgba(#fff, 0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    background-blend-mode: overlay;
}
