<!--管理者側ユーザー詳細画面-->
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-12">
      <h2>ユーザー詳細</h2>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag @user.get_profile_image(100, 100) %>
        </div>
        <div class="col-md-5">
          <table class="table">
            <tbody>
              <tr>
                <td>ニックネーム</td>
                <td><%= @user.nick_name %></td>
              </tr>
              <tr>
                <td>投稿数</td>
                <td><%= @user.posts.count %> 件</td>
              </tr>
              <tr>
                <td>コメント数</td>
              </tr>
              <tr>
                <td><%= link_to "強制退会", admin_user_path(@user.id), method: :patch, "data-confirm" => "このユーザーを退会させますか？", class: "btn btn-danger ml-4"%></td>
                <td><button type="button" class="btn btn-primary">コメント一覧へ</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>