<div class="fixed-bottom container-fullit py-3 bg-dark" style="z-index10" >
  <div class="row aline-items-center d-flex justify-content-center">
    <p class="text-light mb-0">
      What are your recommended books?
    </p>
  </div>
</div>